<article>
  <div class="row">
    <div class="col-xs-4">
      image of school
    </div>
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-4">
          <p>Healt</p>
        </div>
        <div class="col-xs-8">
          <p>{{warlock.health}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <p>Strength</p>
        </div>
        <div class="col-xs-8">
          <p>{{warlock.strength}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <p>Magic</p>
        </div>
        <div class="col-xs-8">
          <p>{{warlock.magic}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <p>Power Points</p>
        </div>
        <div class="col-xs-8">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</article>
