<div class="row">
  <div class="col-xs-2 col-sm-3  "></div>
  <div class="col-xs-8 col-sm-6 ">
    <form id="login-form" class="text-left">
      <div class="row text-center">
        <h1>Sign up into Warlock Universe</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div [hidden]="!error"
             class="alert alert-danger">
          {{error}}
        </div>
      </div>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <!--username-->
          <div class="form-group">
            <label for="su_username" class="sr-only">{{ 'user-username' | translate }}</label>
            <input type="text" [(ngModel)]="user.username" #username="ngModel" class="form-control" id="su_username"
                   name="su_username" placeholder="{{ 'user-username' | translate }}" required/>
            <div [hidden]="username.valid || username.pristine"
                 class="alert alert-danger">
              {{ 'user-username-required' | translate }}
            </div>
          </div>

          <!--password-->
          <div class="form-group">
            <label for="su_password" class="sr-only">{{ 'user-password' | translate }}</label>
            <input type="password" [(ngModel)]="user.password" #password="ngModel" class="form-control" id="su_password"
                   name="su_password" placeholder="{{ 'user-password' | translate }}" required/>
            <div [hidden]="password.valid || password.pristine"
                 class="alert alert-danger">
              {{ 'user-password-required' | translate }}
            </div>
          </div>

          <!--name-->
          <div class="form-group">
            <label for="su_name" class="sr-only">{{ 'user-name' | translate }}</label>
            <input type="text" [(ngModel)]="user.name" #name="ngModel" class="form-control" id="su_name"
                   name="su_name" placeholder="{{ 'user-name' | translate }}" required/>
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              {{ 'user-name-required' | translate }}
            </div>
          </div>

          <!--lastName-->
          <div class="form-group">
            <label for="su_lastName" class="sr-only">{{ 'user-lastName' | translate }}</label>
            <input type="text" [(ngModel)]="user.lastName" #lastName="ngModel" class="form-control" id="su_lastName"
                   name="su_lastName" placeholder="{{ 'user-lastName' | translate }}" required/>
            <div [hidden]="lastName.valid || lastName.pristine"
                 class="alert alert-danger">
              {{ 'user-lastName-required' | translate }}
            </div>
          </div>

          <!--birthDate-->
          <div class="form-group">
            <label for="su_birthDate" class="sr-only">{{ 'user-birthDate' | translate }}</label>
            <input type="date" [(ngModel)]="user.birthDate" #birthDate="ngModel" class="form-control" id="su_birthDate"
                   name="su_birthDate" placeholder="{{ 'user-birthDate' | translate }}" required/>
            <div [hidden]="birthDate.valid || birthDate.pristine"
                 class="alert alert-danger">
              {{ 'user-birthDate-required' | translate }}
            </div>
          </div>

          <!--school-->
          <div class="form-group">
            <label for="su_school" class="sr-only">{{ 'user-school' | translate }}</label>
            <select type="date" [(ngModel)]="user.school" #school="ngModel" class="form-control" id="su_school"
                   name="su_school"  (ngModelChange)="onChangeSchool($event)" required>
              <option selected="selected"> {{ 'user-select-school' | translate }}</option>
              <option value="earth"> {{ 'earth' | translate }}</option>
              <option value="water"> {{ 'water' | translate }}</option>
              <option value="fire"> {{ 'fire' | translate }}</option>
              <option value="wind"> {{ 'wind' | translate }}</option>
            </select>
            <div [hidden]="school.valid || school.pristine"
                 class="alert alert-danger">
              {{ 'user-school-required' | translate }}
            </div>
            <div [hidden]="!school"
                 class="alert alert-message">
              {{schoolText}}
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-primary btn-md" (click)="login()">{{ 'user-SignUp' | translate }}</button>
      </div>
      <hr/>
      <div class="etc-login-form">
        <p>{{ 'user-already-a-user' | translate }} <a href="login">{{ 'user-SignIn' | translate }}</a></p>
      </div>
    </form>
  </div>
  <div class="col-xs-2 col-sm-3 "></div>

</div>
